<div class="container">
    <div class="filters">
        <!-- <button class="button-bold">CAKES</button>
        <button class="button-bold">CHEESECAKES</button>
        <button class="button-bold">PIES</button>
        <button class="button-bold">BREAD</button>
        <button class="button-bold">ALL</button> -->

        <a class="button" href="#">CAKES</a>
        <a class="button" href="#">CHEESECAKES</a>
        <a class="button" href="#">PIES</a>
        <a class="button" href="#">BREAD</a>
        <a class="button" href="#">ALL</a>
    </div>

</div>
<ul class="products" *ngFor="let product of products">
    <li class="product-item">
        <groceries-product-details [product]="product"></groceries-product-details>
    </li>
</ul>
