<div class="container">
    <div class="title-div">

    </div>
    <div class="welcome-text">
       <p>Buy delicious sweet treats ♥</p> 
    </div>

    <ul class="products-cta">
        <li>
            <a href="" class="type">
                <img src="/assets/images/products/cheesecake.png" />
                <div>
                    CHEESECAKES
                </div>
            </a>
        </li>

        <li>
            <a href="" class="type">
                <img src="/assets/images/products/cake.png" />
                <div>
                    CAKES
                </div>
            </a>
        </li>

        <li>
            <a href="" class="type">
                <img src="/assets/images/products/torta.png" />
                <div>
                    PIES
                </div>
            </a>
        </li>

        <li>
            <a href="" class="type">
                <img src="/assets/images/products/pao.png" />
                <div>
                    BREAD
                </div>
            </a>
        </li>
    </ul>
    
</div>

